@import 'mixins';
@import 'config';

html, body {
  height: 100%;
  overflow:hidden;
}

body {
  background: map-deep-get($config, body, background);
  color: #fff;
  display: flex;
  align-items: center;
  text-shadow:0 1px 2px #000;
  flex-direction: column;
  justify-content: center;

}

body.loaded {
  background: #fff;
  color: map-deep-get($config, body, background);
  text-shadow: 0 1px darken(map-deep-get($config, body, background), 20%);
}

h1, h2 {
  display: block;
  font: 900 50px/10px 'Helvetica Neue', arial, sans-serif;
  text-transform: uppercase;
  position:relative;
  z-index:100;
  text-align: center;  
}
h2 {
  font-size:16px;
}
.splash-screen-container {
  position: absolute;
  top:0;
  left:0;
      transform: skewX(10deg);
  .splash-screen {
    position: absolute;
    top:0;
    left:0;
    background: #1e588e;
    box-shadow:inset 1px 0 red;
    // transform: skewX(10deg);
  }
}
@include medium() {
  // color: blue;
}
@include large() {
  // color: green;
}